@font-face {
   font-family: 'NftsOpenseaRegular-5160L';
   font-display: swap;
   src: url('file:///C:/Users/adeba/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-14_122940/fonts/NftsOpenseaRegular-5160L/font.ttf');
}
